.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #DCF1F1;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.calendar-header {
  background-color: #55959C;
  font-weight: bold;
}

.calendar-navbar{
  display: flex;
}

.calendar-current-day {
  background-color: #FFC300;
  font-size: 30px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
