{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/thecalendar.css' %}">
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="#home">Work Planner</a>
      <a href="#news">Shifts</a>
      <a href="#contact">Incidents</a>
      <a href="#about">Alerts</a>
    </div>
    <h1 class="calendar-navbar">The Calendar: {{currentmonthname}} {{currentyear}}  Month Starts with :{{startdayofmonth}}</h1>
    <div class="grid-container">

      <div class="grid-item calendar-header">Monday</div>
      <div class="grid-item calendar-header">Tuesday</div>
      <div class="grid-item calendar-header">Wednesday</div>
      <div class="grid-item calendar-header">Thursday</div>
      <div class="grid-item calendar-header">Friday</div>
      <div class="grid-item calendar-header">Saturday</div>
      <div class="grid-item calendar-header">Sunday</div>
      {% for blank in startblanks %}
        <div class="grid-item"></div>
      {% endfor %}
      {% for day in monthdays %}
        {% if day == currentday %}
          <div class="grid-item calendar-current-day">{{ day }}</div>
        {% else %}
          <div class="grid-item">{{ day }}</div>
        {% endif %}
      {% endfor %}
      {% for blank in endblanks %}
        <div class="grid-item"></div>
      {% endfor %}
    </div>
  </body>
